<div class="form">

        <div class="tab-content">

            <% @drink.each do |drink| %>

            <form action="/drink/recipe" method="POST">
                <div class="field-wrap">
                    <input type="hidden" name="id" value="<%= drink[:id] %>" />
                    <input type="submit" name="drinkname" value="<%= drink[:name] %>"/>
                </div>
            </form>

            <% end %>

        </div>

</div>
