<!DOCTYPE html>
<html>
<head>
    <title>The Drinkery</title>
    <link href="/styles/normalize.css" rel="stylesheet" type="text/css">
    <link href="/styles/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

    <%= yield %>

<script src="/js/app.js" type="text/javascript"></script>
</body>
</html>
