<div class="form">

        <div class="tab-content">

            <% @liquor.each do |liquor| %>

            <form action="/liquor/drinks" method="POST">
                <div class="field-wrap">
                    <input type="hidden" name="id" value="<%= liquor.id %>" />
                    <input type="submit" name="liquorname" value="<%= liquor.name %>"/>
                </div>
            </form>

            <% end %>

        </div>

</div>
