<div class="form drink-bg">

    <div class="header">

        <h3>Click to View Drinks made with Selected Spirit</h3>

    </div>

    <div class="tab-content">

        <% @liquor.each do |liquor| %>

        <form action="/liquor/drinks" method="POST">
            <div class="field-wrap">
                <input type="hidden" name="id" value="<%= liquor.id %>" />
                <input type="submit" name="liquorname" value="<%= liquor.name %>"/>
            </div>
        </form>

        <% end %>

    </div>

</div>
