<div class="form bartender-bg">

    <div class="header">

        <h3>Select a Category</h3>

    </div>

        <div class="tab-content">

          <form action="/favorite" method="GET">

            <div class="field-wrap">
                <input type="submit" name="favorites" value="Favorites"/>
            </div>

          </form>

          <form action="/drink" method="GET">

            <div class="field-wrap">
                <input type="submit" name="drinks" value="Drinks"/>
            </div>

          </form>

          <form action="/liquor" method="GET">

            <div class="field-wrap">
                <input type="submit" name="liquors" value="Liquors"/>
            </div>

          </form>

          <form action="/mixer" method="GET">

            <div class="field-wrap">
                <input type="submit" name="mixers" value="Mixers"/>
            </div>

          </form>

        </div>

</div>
