<div class="form">

        <div class="tab-content">

          <form action="/home/login" method="GET">

            <div class="field-wrap">
                <input type="submit" name="favorites" value="Favorites"/>
            </div>

          </form>

          <form action="/drink" method="GET">

            <div class="field-wrap">
                <input type="submit" name="drinks" value="Drinks"/>
            </div>

          </form>

          <form action="/liquor" method="GET">

            <div class="field-wrap">
                <input type="submit" name="liquors" value="Liquors"/>
            </div>

          </form>

          <form action="/home/login" method="GET">

            <div class="field-wrap">
                <input type="submit" name="mixers" value="Mixers"/>
            </div>

          </form>

        </div>

</div>
