<div class="form drink-bg">

    <div class="header">

        <h3>Click to View Drinks made with Selected Mixer</h3>

    </div>

    <div class="tab-content">

        <% @mixer.each do |mixer| %>

        <form action="/mixer/drinks" method="POST">
            <div class="field-wrap">
                <input type="hidden" name="id" value="<%= mixer.id %>" />
                <input type="submit" name="mixername" value="<%= mixer.name %>"/>
            </div>
        </form>

        <% end %>

    </div>

</div>
