<div class="container">
    <div class="row">

        <div class="six columns">

<% @liquor_ingredients.each do |liquor| %>
    <h3><%= liquor.measure %> <%= liquor.liquor.name %></h3>
<% end %>

        </div>

        <div class="six columns">
<% @mixer_ingredients.each do |mixer| %>
    <h3><%= mixer.measure %> <%= mixer.mixer.name %></h3>
<% end %>

        </div>

    </div>
</div>
